@use "../../styles/export.scss" as *;

$header-height: 11vh;
$bottom-part-height: calc(96vh - $header-height - $default-padding);

.root {
  --host-lobby-header-height: #{$header-height};
  --host-lobby-bottom-part-height: #{$bottom-part-height};

  max-width: $page-width-cutoff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $default-gap;
  height: 100dvh;
  overflow-y: auto;

  .header {
    display: flex;
    align-items: flex-end;
    height: var(--host-lobby-header-height);
    gap: $default-gap;

    .logo {
      width: auto;
      height: 75px;
      max-width: 100%;
      object-fit: contain;
    }

    .title {
      @include float(6px, 3s);
    }
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    gap: calc($default-gap * 2);
  }
}
