@use "../../../styles/export.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: $default-gap;
  min-height: 0;
}

.presetGrid {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  gap: $default-gap;
  padding: $default-padding;

  border: 4px solid rgba($bg-app, 0.8);
  border-radius: $radius-md;
  background: rgba($bg-app, 0.8);
  box-shadow: inset $box-shadow-color;
}
