@use "../../../styles/export.scss" as *;

.left {
  gap: $default-gap;
}

.presetGrid {
  display: flex;
  flex-direction: column;
  max-height: var(--host-lobby-bottom-part-height);
  overflow-y: auto;
  gap: $default-gap;
  @include scrollFade(24px, y);
  padding-block: calc($default-padding * 1.5);
  padding: calc($default-gap * 2) $default-gap;
}
