@use "../../styles/export.scss" as *;

.overlay {
  @include appearFadeIn($dur-fast);

  position: fixed;
  inset: 0;
  z-index: $z-overlay;

  display: grid;
  place-items: center;

  padding: $default-padding;

  background: $box-shadow-color;
  backdrop-filter: $backdrop-blur;
}

.content {
  width: 100%;
  display: grid;
  place-items: center;
}
