@use "../../styles/export.scss" as *;

.overlay {
  @include appearFadeIn($dur-fast);

  position: fixed;
  inset: 0;
  z-index: $z-overlay;

  width: 100vw;
  max-width: none;
  height: 100vh;
  max-height: none;
  display: grid;
  place-items: center;

  margin: 0;
  padding: $default-padding;
  border: 0;

  background: $box-shadow-color;
  color: inherit;
  backdrop-filter: $backdrop-blur;

  &::backdrop {
    background: transparent;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: grid;
  place-items: center;
}
