@use "../../styles/export.scss" as *;

.quickActions {
  position: fixed;
  right: calc(env(safe-area-inset-right, 0px) + $default-gap);
  bottom: calc(env(safe-area-inset-bottom, 0px) + $default-gap);
  z-index: 60;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $default-gap;
}

@media (max-width: $mobile-width) {
  .quickActions {
    flex-direction: row-reverse;
  }
}
