@use "../../../styles/export.scss" as *;

.card {
  padding: $default-padding;
  border-radius: $radius-lg;
  background: $light-transparency;
  border: 1px solid $light-transparency;
  max-width: $page-width-cutoff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: $default-gap;
  }

  .headerRight {
    display: flex;
    align-items: baseline;
    gap: $default-gap;
    min-width: 0;
  }

  .body {
    margin-top: calc($default-padding / 2);
    display: flex;
    flex-direction: column;
    gap: calc($default-gap / 2);
    min-width: 0;
  }
}
