@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--float-intensity, 6px) * -1));
  }
  100% {
    transform: translateY(0);
  }
}

@mixin float($intensity, $duration: 2.5s) {
  --float-intensity: #{$intensity};
  animation: float $duration ease-in-out infinite;
}
