@use "../../../styles/variables.scss" as *;

.controls {
  border-radius: $radius-lg;
  padding: $default-padding;
  background: $box-shadow-color;
  border: 1px solid $light-transparency;
}

.controlsLabel {
  margin-bottom: $default-padding;
}

.smallNote {
  margin-top: -$default-padding;
  margin-bottom: $default-padding;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $default-gap;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $default-gap;
}

.bigButton {
  height: 54px;
  border-radius: $radius-lg;
  font-size: 16px;
}
