@import "../../styles/export.scss";

.landingPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .playActions {
      display: flex;
      flex-direction: row;
      gap: calc($default-gap * 4);
      width: 100%;
      justify-content: center;
      align-items: center;

      @media (max-width: $mobile-width) {
        flex-direction: column;
        gap: $default-gap;
      }

      .joinContainer {
        display: flex;
        flex-direction: column;
        gap: $default-gap;

        .joinRow {
          display: flex;
          gap: $default-gap;
        }
      }
    }

    .logo {
      width: min(100vw, 800px);
      height: auto;
      margin-bottom: calc($default-gap * 3);
      transform-origin: center;

      @include float(10px, 4s);

      @media (max-width: $mobile-width) {
        margin-bottom: calc($default-gap * 6);
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  }
}
