@use "../../../../styles/export.scss" as *;

.finishedStack {
  display: grid;
  gap: $default-gap;
}

.creatorMessageRow {
  display: flex;
  justify-content: center;
}

.rematchCard {
  display: grid;
  gap: $default-gap;
  margin-top: calc($default-padding / 2);
}
