@use "../../../styles/export.scss" as *;

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc($default-gap * 2);
}

.resetButtonContent {
  display: inline-flex;
  align-items: center;
  gap: calc($default-gap * 0.5);
}

.rows {
  display: flex;
  flex-direction: column;
  gap: calc($default-gap * 1.5);
}
