@use "../../styles/export.scss" as *;

.root {
  padding: calc($default-padding * 2);
  display: flex;
  flex-direction: column;
  gap: $default-gap;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $default-gap;
    overflow: hidden;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 480px;
    gap: $default-gap;
    align-items: start;
    @include flexFill();
    min-height: 0;
    height: 100%;
  }

  .center {
    flex: 1;
    display: grid;
    place-items: center;
  }

  .devControls {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    bottom: 14px;
    right: 14px;
    gap: $default-gap;
    z-index: $z-devtools;

    padding: $default-padding;
    border-radius: $radius-lg;
    border: 2px solid $accent;

    background: $box-shadow-color;
    backdrop-filter: $backdrop-blur;

    .prevNextButtonsGroup {
      display: flex;
      gap: $default-gap;
    }
  }

  @media (max-width: $tablet-width) {
    height: auto;
    overflow: visible;

    .main {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
}
